
<div class="cb_right">

  <div id="leftcontent">

  <%= link_to_statics '固铂形象店', action_name,  stores_path, :action_name => 'index' %>
  <%= link_to_statics '查找店铺', action_name, stores_search_path, :action_name => 'search' %>

  </div>
</div>