<div id="leftcontent">
  <h3>营销网络</h3>
   <dl>
     <dt><a href="/shop_cpc.htm">固铂形象店</a></dt>
     <dd></dd>
   </dl>
   <dl class="current">
     <dt><a href="/stores/search">查找店铺</a></dt>
     <dd></dd>
   </dl>   
 </div>