<div class="cb_right">
  <div class="zyl_title">产品与服务</div>
  <div id="leftcontent">
    <dl>
      <dt><%= link_to 'PCR产品', refinery.tires_tires_path(:cat => 'pcr') %></dt>
    </dl>
    <dl>
      <dt><%= link_to 'SUV产品', refinery.tires_tires_path(:cat => 'suv') %></dt>
    </dl>
    <dl>
      <dt><%= link_to '轻卡产品', refinery.tires_tires_path(:cat => 'lighttruck') %></dt>
    </dl> 
    <dl class="current">
      <dt><%= link_to '冬季轮胎产品', refinery.tires_tires_path(:cat => 'winter') %></dt>
    </dl>
    <dl>
      <dt><a href="findtires.html">查找轮胎</a></dt>
    </dl>
    <dl>
      <dt><a href="/knowledge">轮胎使用常识</a></dt>
    </dl>
  </div>
</div>
