<div class="cb_right">
  <div class="zyl_title">产品与服务</div>
  <div id="leftcontent">
    <%= raw link_to_category :pcr, @category, @tires %>
    <%= link_to_category :suv, @category, @tires %>
    <%#= link_to_category :lighttruck, @category, @tires %>
    <%= raw link_to_category :winter, @category, @tires %>
    <dl>
      <dt><a href="/tires/search">查找轮胎</a></dt>
    </dl>
    <dl>
      <dt><a href="/knowledge">轮胎使用常识</a></dt>
    </dl>
  </div>
</div>
