<script type="text/javascript" charset="utf-8">
   	function setTab(name,cursel,n){
   		for(i=1;i<=n;i++){ 
   			var menu=document.getElementById(name+i); 
   			var con=document.getElementById("tab_"+name+"_"+i); 
   			menu.className=i==cursel?"current":""; 
   			con.style.display=i==cursel?"block":"none"; 
   			} 
   	} 
</script>

<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>

<% content_for :title_image do %>

  <% if @category.present? %>
    <% title = {'lighttruck' => 'lt_pic1.gif', 'suv' => 'SUV&4X4轮胎产品', 'winter' => '雪地胎产品', 'pcr' => '轿车轮胎产品' } %>
    <%#= image_tag images[@category.downcase]  %>
    <h2><%= title[@category.downcase] %></h2>
  <% end %>
<% end %>
<%=raw @tire.content %>
<%= render 'sidebar' %>

