<div class="list">
 <ul>
   <li>
    <dl>
     <dt><%= store.shop_name %></dt>
     <dd>
      <p><%= store.address unless store.address == "0" %></p>
     </dd>
   </dl>
   </li>
 </ul>         
 </div>