
<div class="cb_right">
<div class="zyl_title">新闻中心</div>
  <div id="leftcontent">
  	<% if params[:type] == 'media' %>
 	<dl>
      <dt><%= link_to '新闻中心', refinery.news_items_path %>
      </dt>
    </dl>   
      

    <% else %>
    	<dl class="current">
         <dt><%= link_to '新闻中心', refinery.news_items_path %>
         </dt>
       </dl>  


    <% end %>
  </div>
</div>