<div class="cb_right">

  <div class="zyl_title">媒体中心</div>

  <div id="leftcontent">
    <%= link_to_statics '新闻中心', action_name, refinery.news_items_path, :action_name => 'index' %>
    <%= link_to_statics '媒体中心', action_name, refinery.news_items_path %>
  </div>

</div>