<div class="cb_right">

  <div class="zyl_title">关于斯达飞</div>

  <div id="leftcontent">
    <dl>
      <dt><a href="aboutmc.html">品牌故事</a></dt>
    </dl>

    <dl>
      <dt><a href="contact.html">销全球行</a></dt>
    </dl>

    <dl class="current">
      <dt><a href="contact.html">联系我们</a></dt>
    </dl>

  </div>

</div>