<div class="cb_right">

  <div class="zyl_title">关于斯达飞</div>

  <div id="leftcontent">
    <%= link_to_statics '品牌故事', action_name, 'story' %>
    <%= link_to_statics '行销全球', action_name, 'sold_worldwide' %>
    <%= link_to_statics '联系我们', action_name, 'contact_us' %>
  </div>

</div>