
<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>
<% content_for :title_image do %>
  <%#= image_tag "bs_pic1.jpg" %>
  <h2>品牌介绍</h2>
<% end %>

<div class="cb_left brand">

  <img src="/images/v2/brand_banner.png" align="center">
  <div class="box box1">
       美国斯达飞轮胎（Starfire）是北美第二大上市轮胎公司-固铂轮胎橡胶公司旗下独立乘用车轮胎品牌。自1963年第一款轮胎产品于俄亥俄州问世之初，便在“轮胎王国”发出闪闪光芒，成为轮胎中的明星，直至至今被视为美国品质的传奇代表。如今，依托固铂集团的强大实力，斯达飞已成长为一个拥有全球化生产布局、全球化分销体系的世界级轮胎品牌。
  </div>

  <h3>何以赢得<span class="red">世界信赖？</span></h3>

  <div class="box box2">
    斯达飞在美国、墨西哥、中国等地分别拥有自己的生产基地。销售网络覆盖全球110多个国家，更进驻了欧洲最大的轮胎供应商之一的FirstStop。作为一个不断创新突破的品牌，它在全球还拥有数间斥巨资打造的研发中心，不懈致力于新产品的研发，其中就包括位于中国上海的亚太研发中心。美国斯达飞坚持，以最好的资源，不断探索和满足不同市场和消费者的需求，为全球用户提供无忧之选。
  </div>

<h3>何以诠释<span class="red">技术领先？</span></h3>
<div class="box box2">
  美国斯达飞对“无忧品质保证”的坚持与坚信来源于在产品上的不断创新和突破，以数字科技带来时代进步的同时也给消费者提供更安心的产品体验。从产品配方、花纹设计到制造工艺、检测测试等环节形成了全时全程覆盖。全新4变频花纹设计及全新高分子柔软胎面配方，树立全新静音标杆，全面满足你对舒适静音的需求；特有高科技3D技术胎侧胎肩优化设计，坚固无比，从容应付任何极限路况；更有领先的仿生学接地技术，数字模拟各种路况下的轮胎触地面，带来更为安全与无忧的驾控感受。
</div>

<h3>何以成就<span class="red">全球无忧？</span></h3>
<div class="box box2">

  “100%的专业品质保证”也源于美国斯达飞 “无忧”的品牌核心理念，从100%品质检测，到最严苛的北美UTQG测试和全球“极限路况测试，他人眼中的终极考验，只不过是美国斯达飞对自己的基本要求。也正因如此，美国斯达飞凭借领先的OE原厂定制模式，与世界知名汽车厂商合作，为轮胎行业树立了一个又一个全新标杆。
</div>

<h3>美国<span class="red">斯达飞</span>始终坚信： </h3>

  <div class="box box2">
    对品质与科技的不懈追求，不只是为了树立行业领先的地位，更是为了给人们一路无忧的驾乘享受。从过去到未来，从美国到中国，美国斯达飞都将秉持这一理念，追求完美，为全球用户、为中国消费者开启无忧旅程。 
  </div>
  <div class="box img">
  <img src="/images/v2/brand_pics.png" align="center">
</div>


</div>
<%= render 'sidebar' %>