
<% if @title.is_a? Array %>
    <% content_for :title, @title.reverse.join("-") %>
<% else %>
    <% content_for :title, @title %>
<% end %>
<% content_for :title_image do %>
  <%#= image_tag "mt_pic1.jpg" %>
  <h2>公司介绍</h2>
<% end %>

<div class="cb_left">
<div class="company">
  <div class="box box1">
    <table>
      <tr>
        <td class="td1">
          Mr.I.J.COOPER先生正式创立Cooper公司，专门生产轮胎成品，并通过下属的批发销售网络发售其品牌产品。
        </td class="td2">
        <td>
          <img src="/images/v2/company_1.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="box box2">
    <table>
      <tr>
        <td class="td1">
          1946年，公司正式更名成固铂轮胎橡胶公司。（Cooper Tire & Rubber Company）
        </td>
      </tr>
      <tr>
        <td class="td2">
          <img src="/images/v2/company_2.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="box box3">
    <table>
      <tr>
        <td class="td1">
          收购英国AVON轮胎公司
        </td>
        <td class="td2">
          <img src="/images/v2/company_3.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="box box4">
    <table>
      <tr>
        <td class="td1">
          收购Mickey Thompson Performance Tires & Wheels公司。
        </td>
        <td class="td2">
          <img src="/images/v2/company_4.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="box box5">
    <table>
      <tr>
        <td class="td1">
          成立固铂成山(山东)轮胎有限公司。同年，在上海设立其亚太总部，正式宣布进站中国。
        </td>
        <td class="td2">
          <img src="/images/v2/company_5.png">
        </td>
      </tr>
    </table>
  </div>


  <div class="box box6">
    <table>
      <tr>
        <td class="td1">
          固铂亚太技术研发中心落户上海。
        </td>
        <td class="td2">
          <img src="/images/v2/company_6.png">
        </td>
      </tr>
    </table>
  </div>


  <div class="box box7">
    <table>
      <tr>
        <td class="td1">
          成立固铂轮胎(昆山)有限公司。同年12月收购塞尔维亚工厂。
        </td>
        <td class="td2">
          <img src="/images/v2/company_7.png">
        </td>
      </tr>
    </table>
  </div>

  <div class="box box8">
    <h3 class="red">配套服务</h3>
    <p>自上世纪30年代起，固铂轮胎橡胶公司旗下AVON品牌便开始为欧洲诸多豪华汽车品牌提供原配轮胎及技术服务，其中包括劳斯莱斯、宾利、阿斯顿马丁以及路虎。2013年初，旗下超高性能轿车轮胎“驭行ZEON RS3-A”被选为2013年美国福特福克斯SE及Titanium两个轿跑车型的指定原配轮胎。</p>

    <img src="/images/v2/company_8.png">

  </div>

  <div class="box box9">
    <h3 class="red">全球布局</h3>
    <p>固铂轮胎橡胶公司在全球设有9个制造工厂和4个研发测试中心</p>

    <img src="/images/v2/company_9.png">

  </div>



</div>

</div>
<%= render 'sidebar' %>