<% content_for :title, @title%>
<% content_for :title_image do %>
  <%= image_tag "cop_pic1.gif" %>
<% end %>
<div class="copyright_con">
  <p>1. 本网站所有内容，包括文字、图片和音视频资料，版权均属固铂轮胎（中国）投资有限公司（以下简称“固铂轮胎”） 所有，任何媒体、网站或个人未经固铂<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;书面授权不得转载、链接、转贴或以其他方式复制发布/发表。</p>

  <p>2. 转载或引用本网站内容必须是以新闻性或资料性公共免费信息为使用目的的合理、善意引用，不得对本网站内容原意进行曲解、修改。</p>

  <p class="cpc_1">3. 转载或引用本网站内容不得进行如下活动：</p>

  <p class="cpc_2">a. 损害固铂轮胎或他人利益；<br />
    b. 任何违法行为；<br />
    c. 任何可能破坏公秩良俗的行为；<br />
    d. 擅自同意他人继续转载、引用本网站内容；</p>

  <p>4. 转载或引用本网站版权所有之内容须注明“转自（或引自）斯达飞轮胎(Starfiretire)”字样，并标明本网网址www.sftires.com.cn。</p>


  <p>5. 对于不当转载或引用本网站内容而引起的民事纷争、行政处理或其他损失，固铂轮胎不承担任何责任。</p>

  <p>6. 对不遵守本声明或其他违法、恶意使用本网站内容者，固铂轮胎保留追究其法律责任的权利。</p>

</div>



<div class="kk"></div>
