<% content_for :title, @title%>
<% content_for :title_image do %>
  <%= image_tag "sim_pic1.gif" %>
<% end %>
<div class="sitemap">
  <dl class="sim_list1">
    <dt>首页</dt>
    <dd></dd>

  </dl>


  <dl class="sim_list2">
    <dt>关于斯达飞</dt>
    <dd>• <a href="#">&nbsp;品牌故事</a></dd>
    <dd>• &nbsp;<a href="#">行销全球</a></dd>
    <dd>• &nbsp;<a href="#">联系我们</a></dd>
  </dl>

  <dl class="sim_list2">
    <dt>产品与服务</dt>
    <dd>• &nbsp;<a href="pcr.html">PCR产品</a></dd>
    <dd>• &nbsp;<a href="suv.html">SUV产品</a></dd>
    <dd>• &nbsp;<a href="lighttruck.html">轻卡产品</a></dd>
    <dd>• <a href="wintertires.html">&nbsp;冬季胎产品</a></dd>
    <dd>• &nbsp;<a href="findtires.html">查找轮胎</a></dd>
    <dd>• &nbsp;<a href="commonsense.html">轮胎使用常识</a></dd>
  </dl>


  <dl class="sim_list2">
    <dt>媒体新闻</dt>
    <dd>• &nbsp;<a href="#">新闻中心</a></dd>
    <dd>• &nbsp;<a href="#">媒体中心</a></dd>
  </dl>

  <dl class="sim_list2">
    <dt>营销网络</dt>
    <dd>• &nbsp;<a href="#">斯达飞零售店</a></dd>
    <dd>• <a href="#">&nbsp;查找店铺</a></dd>
  </dl>




</div>
