<% content_for :title, @title%>
<% content_for :title_image do %>
  <%#= image_tag "sim_pic1.gif" %>
  <h2>网站地图</h2>
<% end %>
<div class="sitemap">
  <dl class="sim_list1">
    <dt>首页</dt>
    <dd></dd>

  </dl>


  <dl class="sim_list2">
    <dt>关于斯达飞</dt>
    <dd>• &nbsp;<a href="/sold_worldwide">行销全球</a></dd>
    <dd>• <a href="/story">&nbsp;DTT科技</a></dd>
    <dd>• &nbsp;<a href="contact_us">联系我们</a></dd>
  </dl>

  <dl class="sim_list2">
    <dt>产品与服务</dt>
    <dd>• &nbsp;<a href="/tires?cat=pcr">PCR产品</a></dd>
    <dd>• &nbsp;<a href="/tires?cat=suv">SUV产品</a></dd>
    <dd>• &nbsp;<a href="/tires?cat=lighttruck">轻卡产品</a></dd>
    <dd>• <a href="/tires?cat=winter">&nbsp;冬季胎产品</a></dd>
    <dd>• &nbsp;<a href="/tires/search">查找轮胎</a></dd>
    <dd>• &nbsp;<a href="/knowledge">轮胎使用常识</a></dd>
  </dl>


  <dl class="sim_list2">
    <dt>新闻中心</dt>

  </dl>

  <dl class="sim_list2">
    <dt>营销网络</dt>
    <dd>• &nbsp;<a href="/stores/1">斯达飞零售店</a></dd>
    <dd>• <a href="/stores/search">&nbsp;查找店铺</a></dd>
  </dl>




</div>
