
<% content_for :title, @title%>
<% content_for :title_image do %>
  <%#= image_tag "contact_pic1.gif", :size => '110x55' %>
<% end %>

<div class="cb_left">
  <h1>页面正在建设中...</h1>
  <ul class="cl_list">

    <!--
      <li><img src="images/contact_pic3.gif" width="216" height="56" /></li>
      <li>联系电话<br />
        +86(0)21-6127-3388</li>

      <li>传真号码<br />
        +86(0)21-6208-7522 </li>

      <li>邮政编码<br />
        200336 </li>

      <li>公司地址<br />
        中国上海市古北路666号嘉麒大厦17层 </li>

      <li>邮箱<br />
        mktAsia@coopertire.com </li>

      -->
  </ul>

</div>
<%= render 'sidebar' %>