<div class="styled-select3">
<span id="brand">
 	<%= select_tag 'brand',options_for_select(brand_collection),  :prompt => "选择厂商/品牌" %>
 </span>
</div>
<div class="styled-select3">
 <span id="car_type" >
  <%= select_tag 'car_type', options_for_select([]), :prompt => "车型" %>
 </span>
</div>

